<h1>Du lieu tra ve : @ViewBag.infoEmployee</h1>
<form asp-action="index">
    <label> Nhập Person Id</label>
    <input type = "text " name ="PersonId">
    <label>Nhập họ tên </label>
    <input type ="text" name = "fullname"
    <label>Sent </label>
    <input type ="submit" name=" gửi dữ liệu">

</form>